<% if obj.errors.any? %>
  <div class="container">
    <div class="row signup">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
      <h5 class="header"> <%= pluralize(obj.errors.count, 'Error') %></h5>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </span>
    </div>
  </div>
</div>
</div>
<% end %>
