<div class="row">
  <div class="col s12">
    <h3 class="center-align">Course Listing</h3>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS121: Programming 1 course </span>
        <p>Programming I course where you will learn what is programming languages and the difference between them, data structures, and programming concepts.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS131: Digital fundamental course </span>
        <p>Digital fundamental course where you will learn what is what is digital design, analog signals, digital signals, and logic gates.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS121: Programming 1 course </span>
        <p>Programming I course where you will learn what is programming languages and the difference between them, data structures, and programming concepts.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>


  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">CS131: Digital fundamental course </span>
        <p>Digital fundamental course where you will learn what is what is digital design, analog signals, digital signals, and logic gates.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
</div>
